
body {
    background-color: lightblue;
}
/* To center everything in game */


.options{
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.kamień, .papier, .nożyce {
    outline: none;
    border: none;
    cursor: pointer;
}

img {
    width: 100px;
}

.move{
    font-size: 2rem;
    font-weight: bold;
}

.move, .result {
    text-align: center;

}

.result{
    margin-top: 20px;
    font-size: 1.2rem;
}

.game {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}